{% extends 'base.html' %}
{% load staticfiles %}
{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static "assets/plugins/select2/select2_metro.css"  %}" />
	<link rel="stylesheet" type="text/css" href="{% static "assets/plugins/chosen-bootstrap/chosen/chosen.css" %}" />
{% endblock styles %}

{% block content %}
<!--<form action="{% url 'new_product' %}" method = "POST">
    {{ form.as_p }}

    <input type="submit" value="Submit" />
</form>-->
<div class="row-fluid">
					<div class="span12">
						<div class="portlet box blue" id="form_wizard_1">
							<div class="portlet-title">
								<div class="caption">
									<i class="icon-reorder"></i> Add New Product - <span class="step-title">Step 1 of 4</span>
								</div>
								<div class="tools hidden-phone">
									<a href="javascript:;" class="collapse"></a>
									<a href="#portlet-config" data-toggle="modal" class="config"></a>
									<a href="javascript:;" class="reload"></a>
									<a href="javascript:;" class="remove"></a>
								</div>
							</div>

							<div class="portlet-body form">
								<form action="{% url 'new_product' %}" class="form-horizontal" id="submit_form" method="POST">{% csrf_token %}
									<div class="form-wizard">
										<div class="navbar steps">
											<div class="navbar-inner">
												<ul class="row-fluid">

													<li class="span3">
														<a href="#tab1" data-toggle="tab" class="step active">
														<span class="number">1</span>
														<span class="desc"><i class="icon-ok"></i> Product Info</span>
														</a>
													</li>

													<li class="span3">
														<a href="#tab2" data-toggle="tab" class="step">
														<span class="number">2</span>
														<span class="desc"><i class="icon-ok"></i> Product Info cont.</span>
														</a>
													</li>

													<li class="span3">
														<a href="#tab3" data-toggle="tab" class="step">
														<span class="number">3</span>
														<span class="desc"><i class="icon-ok"></i> Pricing</span>
														</a>

													</li>

													<li class="span3">
														<a href="#tab4" data-toggle="tab" class="step">
														<span class="number">4</span>
														<span class="desc"><i class="icon-ok"></i> Confirm</span>
														</a>
													</li>
												</ul>
											</div>
										</div>

										<div id="bar" class="progress progress-success progress-striped">
											<div class="bar"></div>
										</div>

										<div class="tab-content">
											<div class="alert alert-error hide">
												<button class="close" data-dismiss="alert"></button>
												You have some form errors. Please check below.
											</div>

											<div class="alert alert-success hide">
												<button class="close" data-dismiss="alert"></button>
												Your form validation is successful!
											</div>

											<div class="tab-pane active" id="tab1">
												<h3 class="block">Provide Product details</h3>
												<div class="control-group">
													<label class="control-label">Product Name<span class="required">*</span></label>
													<div class="controls">
                                                        {{ form.name }}
														<!--<input type="text" class="span6 m-wrap" name="username"/>-->
														<span class="help-inline">Enter Product Name</span>
													</div>
												</div>

												<div class="control-group">
													<label class="control-label">SKU<span class="">*</span></label>
													<div class="controls">
                                                        {{ form.sku }}
														<!--<input type="text" class="span6 m-wrap" name="email"/>-->
														<span class="help-inline">Provide Product SKU</span>
													</div>
												</div>
											</div>

											<div class="tab-pane" id="tab2">
												<h3 class="block">Provide product details cont.</h3>
												<div class="control-group">
													<label class="control-label">Product Barcode<span class="required">*</span></label>
													<div class="controls">
                                                        {{ form.barcode }}
														<!--<input type="text" class="span6 m-wrap" name="fullname"/>-->
														<span class="help-inline">Provide Product Barcode</span>
													</div>
												</div>

												<div class="control-group">
													<label class="control-label">Manufacturer<span class="required">*</span></label>
													<div class="controls">
                                                        {{ form.manufacturer }}
														<!--<input type="text" class="span6 m-wrap" name="fullname"/>-->
														<span class="help-inline">Provide Product Manufacturer</span>
													</div>
                                                </div>

												<div class="control-group">
													<label class="control-label">Product Description<span class="required">*</span></label>
													<div class="controls">
                                                        {{ form.description }}
														<!--<input type="text" class="span6 m-wrap" name="fullname"/>-->
														<span class="help-inline">Provide Product Description</span>
													</div>
                                                </div>

											</div>

											<div class="tab-pane" id="tab3">
												<h3 class="block">Product Pricing</h3>
												<div class="control-group">
													<label class="control-label">Sale Price<span class="required">*</span></label>
													<div class="controls">
                                                        {{ form.sale_price }}
														<!--<input type="text" class="span6 m-wrap" name="card_name" />-->
														<span class="help-inline"></span>
													</div>
												</div>

												<div class="control-group">
													<label class="control-label">RRP<span class="required">*</span></label>
													<div class="controls">
                                                        {{ form.rr_price }}
														<!--<input type="text" class="span6 m-wrap" name="card_number"/>-->
														<span class="help-inline"></span>
													</div>
												</div>
											</div>

											<div class="tab-pane" id="tab4">
												<h3 class="block">Confirm Product Info</h3>
												<h4 class="form-section">Product Details</h4>
												<div class="control-group">
													<label class="control-label">Product Name:</label>
													<div class="controls">
														<span class="text display-value" data-display="name"></span>
													</div>
												</div>

												<div class="control-group">
													<label class="control-label">SKU:</label>
													<div class="controls">
														<span class="text display-value" data-display="sku"></span>
													</div>
												</div>

												<div class="control-group">
													<label class="control-label">Barcode:</label>
													<div class="controls">
														<span class="text display-value" data-display="barcode"></span>
													</div>
												</div>

												<div class="control-group">
													<label class="control-label">Description:</label>
													<div class="controls">
														<span class="text display-value" data-display="description"></span>
													</div>
												</div>

												<div class="control-group">
													<label class="control-label">Manufacturer:</label>
													<div class="controls">
														<span class="text display-value" data-display="manufacturer"></span>
													</div>
												</div>

                                                <h4 class="form-section">Pricing</h4>


												<div class="control-group">
													<label class="control-label">Sale Price:</label>
													<div class="controls">
														<span class="text display-value" data-display="sale_price"></span>
													</div>
												</div>

												<div class="control-group">
													<label class="control-label">RRP:</label>
													<div class="controls">
														<span class="text display-value" data-display="rr_price"></span>
													</div>
												</div>
											</div>
										</div>

										<div class="form-actions clearfix">
											<a href="javascript:;" class="btn button-previous">
											<i class="m-icon-swapleft"></i> Back
											</a>
											<a href="javascript:;" class="btn blue button-next">
											Continue <i class="m-icon-swapright m-icon-white"></i>
											</a>
											<a href="javascript:;" class="btn green button-submit">
											Submit <i class="m-icon-swapright m-icon-white"></i>
											</a>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

{% endblock content %}

{% block plugins %}
    <script type="text/javascript" src="{% static "assets/plugins/jquery-validation/dist/jquery.validate.min.js" %}"></script>
	<script type="text/javascript" src="{% static "assets/plugins/jquery-validation/dist/additional-methods.min.js" %}"></script>
	<script type="text/javascript" src="{% static "assets/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" %}"></script>
	<script type="text/javascript" src="{% static "assets/plugins/chosen-bootstrap/chosen/chosen.jquery.min.js" %}"></script>
	<script type="text/javascript" src="{% static "assets/plugins/select2/select2.min.js" %}"></script>
{% endblock plugins %}

{% block scripts %}
    <script src="{% static "assets/scripts/app.js" %}"></script>
	<script src="{% static "assets/scripts/form-wizard.js" %}"></script>
    	<script>
		jQuery(document).ready(function() {
		   // initiate layout and plugins
		   App.init();
		   FormWizard.init();
		});
	</script>
{% endblock scripts %}

